<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="favicon/logo.ico" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>FUTO Student | Staff Bus Service</title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
            integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" /> -->

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body class="body">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a href="/" class="navbar-brand" href="index.html">
            <img
              src="./images/futo logo.jpg"
              style="width: 60px"
              src="./images/futo logo.jpg"
              alt="futo logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class=""></span>
          </button>

          <div
            class="collapse navbar-collapse dd__flex"
            id="navbarSupportedContent"
          >
            <div
              class="d-flex mx-0 mx-xs-auto mx-sm-auto flex-column flex-lg-row align-items-sm-start align-items-start accordion-1"
            >
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/charter"
                    >Charter<span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/partnership">Partnership</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/route">Routes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/driver">Drivers</a>
                </li>
                <!--  <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/FAQ">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="sign_btn-container">
              <ul class="navbar-nav">
                <li class="nav-item nav__login">
                  <a href="/login" class="nav-link"> Login </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav__sign--up" href="/register">
                    Register
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="container-fluid">
      <div class="discover__shuttle_1">
        <h3>Charter a shuttle</h3>
        <p class="p">Tell us when and where and we'll make it happen</p>

        <form action="/" method="post" id="charter__form">
          <span class="errmessage1"></span>
          <input
            type="text"
            name="input_1"
            id="input1"
            placeholder="Enter your first name"
            class="input_1"
            part="Pickup location"
          />

          <span class="errmessage2"></span>
          <input
            type="text"
            name="input_2"
            id="input2"
            placeholder="Enter your last name"
            part="To: Arrival Bust stop"
          />

          <span class="errmessage3"></span>
          <input
            type="email"
            name="input_2"
            id="input3"
            placeholder="Enter your email"
            part="To: Arrival Bust stop"
          />

          <span class="errmessage4"></span>
          <input
            type="tel"
            name="input_2"
            id="input4"
            placeholder="Enter your phone number"
            part="To: Arrival Bust stop"
          />

          <span class="errmessage5"></span>
          <input
            type="text"
            name="input_2"
            id="input5"
            placeholder="From: Arrival location"
            part="To: Arrival Bust stop"
          />

          <span class="errmessage6"></span>
          <input
            type="text"
            name="input_2"
            id="input6"
            placeholder="To: Arrival Location"
            part="To: Arrival Bust stop"
          />

          <div class="date__products">
            <div class="date__products__2">
              <p>Pick up time</p>

              <span class="errmessage7"></span>
              <input
                type="text"
                name=""
                id="datepicke1"
                placeholder="Choose Date and time"
                onfocus="(this.type='datetime-local')"
                onblur="(this.type='text')"
              />
            </div>
            <div class="date__products__2">
              <p>Return time</p>
              <span class="errmessage8"></span>
              <input
                type="text"
                name=""
                id="datepicker2"
                placeholder="Choose Date and time"
                onfocus="(this.type='datetime-local')"
                onblur="(this.type='text')"
              />
            </div>
          </div>
          <span class="errmessage9"></span>
          <input
            type="number"
            name="input_2"
            id="Boarding_1"
            placeholder="Boarding passengers"
            part="To: Arrival Bust stop"
          />

          <span class="errmessage10"></span>
          <input
            type="number"
            name="input_2"
            id="Stops_1"
            placeholder="How many stops in between your trip"
            part="To: Arrival Bust stop"
          />

          <button type="submit">Submit Request</button>
        </form>
      </div>
    </div>

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>

    <!-- owl carousel -->

    <!-- hosted with cloudflare -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->

    <!-- hosted locally -->
    <script src="js/owl.carousel.min.js"></script>

    <script src="js/charter.js"></script>
  </body>
</html>
