<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="favicon/logo.ico" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>FUTO Student | Staff Bus Service</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- owl carousel -->
    <!-- <link rel="stylesheet" href="../css/owl.carousel.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw="
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <!-- header section -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a href="/" class="navbar-brand">
          <img
            src="./images/futo logo.jpg"
            style="width: 60px"
            alt="futo logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class=""></span>
        </button>

        <div
          class="collapse navbar-collapse dd__flex"
          id="navbarSupportedContent"
        >
          <div
            class="d-flex mx-0 mx-xs-auto mx-sm-auto flex-column flex-lg-row align-items-sm-start align-items-start accordion-1"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/charter"
                  >charter<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/partnership">Partnership</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/route">Routes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/driver">Drivers</a>
              </li>
              <!--  <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li> -->
              <li class="nav-item active">
                <a class="nav-link" href="/FAQ">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="sign_btn-container">
            <ul class="navbar-nav">
              <li class="nav-item nav__login">
                <a href="/login" class="nav-link"> Login </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav__sign--up" href="/register">
                  Register
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              ipsum dolor sit, amet consectetur adipisicing elit. Qui blanditiis
              rem eum molestiae? Aperiam, eum saepe distinctio odit porro
              repudiandae architecto harum quidem cum laborum sint excepturi
              illum voluptatem molestias quasi soluta similique, non nihil
              voluptas perspiciatis sit est perferendis enim? Ratione rerum
              exercitationem commodi eum dicta nisi eveniet. Repellendus.
            </p>
          </div>
          <div class="col-md-12 mt-4">
            <p>
              ipsum dolor sit, amet consectetur adipisicing elit. Qui blanditiis
              rem eum molestiae? Aperiam, eum saepe distinctio odit porro
              repudiandae architecto harum quidem cum laborum sint excepturi
              illum voluptatem molestias quasi soluta similique, non nihil
              voluptas perspiciatis sit est perferendis enim? Ratione rerum
              exercitationem commodi eum dicta nisi eveniet. Repellendus.
            </p>
          </div>
          <div class="col-md-12 mt-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui
              blanditiis rem eum molestiae? Aperiam, eum saepe distinctio odit
              porro repudiandae architecto harum quidem cum laborum sint
              excepturi illum voluptatem molestias quasi soluta similique, non
              nihil voluptas perspiciatis sit est perferendis enim? Ratione
              rerum exercitationem commodi eum dicta nisi eveniet. Repellendus.
            </p>
          </div>
        </div>
      </div>
    </section>
    <main></main>
    <footer></footer>
    <script src=""></script>
  </body>
</html>
