<!DOCTYPE html>
<html lang="eng">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="favicon/logo.ico" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>FUTO Student | Staff Bus Service</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" /> -->

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page1">
    <!-- drivers sign up -->
    <section class="drivesinup__section">
      <div class="container drive" id="display__one">
        <div class="drive__h3">
          <i class="fa fa-times" aria-hidden="true" id="close"></i>
          <h3>Driver Sign Up</h3>
        </div>
        <p class="create">Create an account to start driving with Shuttlers</p>
        <div>
          <form action="/submit-form" method="post" id="driversForm">
            <div class="d-flex__1">
              <div class="input__sign__1">
                <label for="">First name</label>
                <input type="text" name="" id="firstName" />
                <span id="span1"></span>
              </div>
              <div class="input__sign__2">
                <label for="">Last name</label>
                <input type="text" name="" id="lastName" />
                <span id="span2"></span>
              </div>
            </div>
            <div>
              <label for="">Email Address</label>
              <input
                type="text"
                name=""
                id="email"
                placeholder="sample@mail.com"
              />
              <span id="span3"></span>
            </div>

            <div>
              <label for="">Phone Number</label>
              <input type="text" name="" id="phone" placeholder="07034344428" />
              <span id="span4"></span>
            </div>

            <div>
              <label for="">Password</label>
              <input
                type="password"
                name=""
                id="sign__password"
                placeholder=""
              />
              <span id="span5"></span>
            </div>

            <div class="check">
              <input
                type="checkbox"
                class="toggle__password"
                id="toggler"
              />Show Password
            </div>

            <button type="submit">Register</button>
          </form>
          <div>
            <p>
              By clicking on "Register", I have read and agreed to shuttlers
              privacy policy
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- enddrivers sign up -->

    <!-- container for containall -->
    <div class="containall">
      <div class="hero_area1">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="/">
                <img src="images/futo logo.jpg" alt="" srcset="" width="60px" />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class=""></span>
              </button>

              <div
                class="collapse navbar-collapse dd__flex"
                id="navbarSupportedContent"
              >
                <div
                  class="d-flex mx-0 mx-xs-auto mx-sm-auto flex-column flex-lg-row align-items-sm-start align-items-start accordion-1"
                >
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/charter"
                        >Charter<span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/partnership"
                        >Partnership<span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/route">Routes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/driver">Drivers</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                  </li> -->
                    <li class="nav-item">
                      <a class="nav-link" href="/FAQ">FAQ</a>
                    </li>
                  </ul>
                </div>
                <div class="sign_btn-container">
                  <ul class="navbar-nav">
                    <li class="nav-item nav__login">
                      <a href="/login" class="nav-link"> Login </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav__sign--up" href="/register">
                        Register
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->
      </div>
      <!-- partnership section -->
      <main class="about_section">
        <div class="container other">
          <div class="row">
            <div class="col-md-12">
              <div class="hr">
                <div class="partnership___1">
                  <h2 class="about__h2">Drive for Us</h2>
                  <p class="first__p">
                    Help change the commute of hundreds of FUTO riders
                  </p>
                  <p class="second__p">
                    <button id="display__signup">Sign Up to drive</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid help">
          <div class="col">
            <div class="help__1">
              <h3>Register as a driver on shuttlers</h3>
            </div>
          </div>
        </div>
        <div class="container abt__cont">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 select">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <div>
                <h5 class="h4">Sign Up Online</h5>
                <p>
                  Signing up is easy. Simply click the button below and fill out
                  the form. When you do, a member of our team will reach out to
                  you with next steps.
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 select">
              <i class="fa fa-file-text" aria-hidden="true"></i>
              <div>
                <h5 class="h4">Share documents</h5>
                <p>
                  After signing up, we will require you to share some documents
                  with us. These documents are typically your drivers license -
                  a valid one, your academic certificates and possibly, a
                  guarantor.
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 select">
              <i class="fa fa-users" aria-hidden="true"></i>
              <div>
                <h5 class="h4">Schedule screening</h5>
                <p>
                  When this is done, we will schedule a screening session with
                  you. This typically lasts anywhere between a couple of hours
                  to a few days. We really want to get to know you personally,
                  so feel free to talk to us.
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 select">
              <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
              <div>
                <h4 class="h4">Get the app and go</h4>
                <p>
                  We will complete the process from our end — assign you a
                  vehicle and a route — You will then download the driver's and
                  get ready to make your first trip. Congratulations, welcome to
                  the family.
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- end partnership section -->

      <!-- info section -->
      <section class="info_section">
        <div class="container">
          <div class="info_top">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="info_detail">
                  <a href="/index">
                    <h4>FUTO News</h4>
                  </a>
                  <p>
                    2022/2023 FUTO Joint Universities Preliminary Examinations
                    Board (JUPEB) Foundation School Programme...
                  </p>
                  <div class="social_box">
                    <a href="">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <h4>Contact us</h4>
                <p class="info_website" style="margin-bottom: 30px">
                  contact us at <br />
                  <a href="https://futo.edu.ng/contact-us/#" target="=_blank"
                    >info@futo.edu.ng</a
                  >
                </p>

                <div class="contact_nav">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span> 1526, PMB,Owerri </span>
                  </a>
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span> Call : +23409031916620 </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span> Email : VCFuto@gmail.com </span>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info_form">
                  <h4>SIGN UP TO OUR NEWSLETTER</h4>
                  <form action="http://localhost:3030" method="post">
                    <input type="text" placeholder="Enter Your Email" />
                    <button type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end info_section -->

      <!-- footer section -->
      <footer class="footer_section">
        <div class="container">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            Designed and Developed by Asimana, Patrick & Wisdom
          </p>
        </div>
      </footer>
      <!-- footer section -->
    </div>
    <!-- end container for containall -->

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>

    <!-- owl carousel -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- custom js -->
    <!-- <script src="js/custom.js"></script> -->
    <script src="js/drivesign.js"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
  </body>
</html>
